@use 'variables' as v;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*:before, a:after{
    box-sizing: inherit;
}

body{
    font-family: v.$fuente_secundaria;
    font-size: 1.6rem;
    background-color: v.$cafeClaro;
}

p{
    color: v.$negro;
    font-size: 1.6rem;
    line-height: 2;
}

.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: v.$negro;
}

img{
    max-width: 100%;
    height: auto; //la altura se va ir definiendo de acuerdo con el ancho de la imagen
    display: block;
}

ul{
    list-style: none; //sacar la viñeta de los 3 iconos del main
    padding: 0;
    margin: 0;
}