// Fuentes
$fuente_principal: 'Raleway', sans-serif;
$fuente_secundaria: 'Roboto', sans-serif;
$fuente_cursiva: 'Bona Nova', serif;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #5e311e;
$secundario: #c39c63;
$negro: #000;
$blanco: #fff;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;

// Unidades
$separacion: 5rem;