@use '../base/variables' as v;

.text-center{
    text-align: center;
}

.bg-white{
    background-color: v.$blanco;
}

.margin-negativo-10{
    margin-top: -10rem;
}

.padding-bottom-0{
    padding-bottom: 0;
}