@use '../base/variables' as v;
@use '../base/mixins' as m;

.header{
    padding: 5rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    //@include m.color;
    //@include m.bgColor(red);
    @include m.tablet { 
        min-height: 70rem;
    }

    &::before{
        content: '';
        background-color: v.$negro;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .6;
    }

    //en sass se anidan y como maximo 3 selectores sino ponerlo desde afuera
    .contenido-header{
        position: relative;

        h1{
            text-align: center;
            color: v.$blanco;
            text-transform: uppercase;
            margin-top: 5rem;
            @include m.tablet { 
                margin-top: 10rem;
            }
        }
    }
}

//HEADER DE CADA PAGINA
.header-inicio{
    background-image: url(../img/header_inicio.jpg);
}

.header-nosotros{
    background-image: url(../img/header_nosotros.jpg);
}

.header-proceso{
    background-image: url(../img/header_proceso.jpg);
}

.header-menu{
    background-image: url(../img/header_menu.jpg);
}

.header-galeria{
    background-image: url(../img/header_galeria.jpg);
}

.header-contacto{
    background-image: url(../img/header_contacto.jpg);
}