@use '../base/variables' as v;
@use '../base/mixins' as m;

.proceso-cafe{
    margin-bottom: v.$separacion;

    @include m.tablet { 
        display: flex;
        gap: v.$separacion;
        align-items: center;
    }
    &:last-of-type{//ultimo elemento
        margin-bottom: 0;
    }
    /*
    &:nth-child(2),
    &:nth-child(4){
    */
    &:nth-child(even){ //even = todos los numeros pares | odd = todos los numeros impares
        .texto{
            order: 1;
        }
        .imagen{
            order: 2;
        }
    }

    .imagen,
    .texto{
        flex: 1;
    }

    .texto{
        margin-top: 1rem;

        h3{
            margin: 0;
            text-align: left;
            color: v.$primario;

            &::after{
                content: '';
                display: block;
                width: 50%;
                height: 5px;
                background-color: v.$secundario;
            }
        }   
    }
}
