@use '../base/mixins' as m;

.galeria{
    @include m.grid(2,2rem);

    @include m.desktop { 
        @include m.grid(4,2rem);
    }

    .imagen{
        img{
            height: 30rem;
            width: 30rem;
            object-fit: cover;
        }

        @include m.desktop { 
            &:nth-child(1){
                grid-row: 1 / 3;
                img{
                    height: 62rem; //cada imagen vale 30 entonces como va ocupar 2 lugares sera 30 + 30 = 60 y el 2 seria del gap del grid
                    object-position: center;
                }
            }

            &:nth-child(2){
                grid-column: 2 / 4;
                img{
                    width: 62rem;
                }
            }

            &:nth-child(4){
                grid-row: 2 / 4;
                img{
                    height: 62rem;
                    object-position: center;
                }
            }

            &:nth-child(5){
                grid-column: 3 / 5;
                img{
                    width: 62rem;
                }
            }
            &:nth-child(6){
                grid-column: 3 / 5;
                img{
                    width: 62rem;
                }
            }

            &:nth-child(7){
                grid-row: 3 / 5;
                img{
                    height: 62rem;
                }
            }

            &:nth-child(8){
                grid-column: 2 / 5;
                img{
                    width: 94rem;
                }
            }

            &:nth-child(9){
                grid-column: 1 / 3;
                img{
                    width: 62rem;
                }
            }

            &:nth-child(10){
                grid-column: 3 / 5;
                img{
                    width: 62rem;
                }
            }
        }
    }
}